<app-progressbar></app-progressbar>

<button id="refresh-claims" mat-mini-fab (click)="update()">
  <mat-icon>refresh</mat-icon>
</button>

<div class="data-table mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Request Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Request Version</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.version }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="universityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issuing University</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.universityName | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="reviewed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip class="chip-green" *ngIf="!element.isReviewed">Open</mat-chip>
          <mat-chip class="chip-red" *ngIf="element.isReviewed">Closed</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [detailRow]="row"
             [detailRowTpl]="tpl"></mat-row>
  </mat-table>
  <div class="no-data-row mat-caption" *ngIf="this.dataSource.data.length == 0">
    <span>No Proof Requests available</span>
  </div>
</div>

<ng-template #tpl let-element>
  <div class="mat-row" [@detailExpand] style="overflow: hidden">
    <div id="proof-request-info">
      <mat-chip-list>
        <mat-chip *ngFor="let attribute of element.attrNames">{{ attribute }}</mat-chip>
      </mat-chip-list>
    </div>
    <div id="proof-request-buttons">
      <button mat-raised-button (click)="accept(element)" color="primary">Accept</button>
      <button mat-raised-button color="warn">Decline</button>
    </div>
  </div>
</ng-template>

