<app-progressbar></app-progressbar>
<button id="refresh-claims" mat-mini-fab (click)="update()">
  <mat-icon>refresh</mat-icon>
</button>

<div id="claimTable" class="data-table mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.label }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="schemaKeyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Claim Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getType(element.schemaId) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issuingUniversityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issuer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.issuingUniversityName | titlecase }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [detailRow]="row" [detailRowTpl]="tpl"></mat-row>

  </mat-table>
  <div class="no-data-row mat-caption" *ngIf="this.dataSource.data.length == 0">
    <span>No Claims available</span>
  </div>
</div>

<ng-template #tpl let-element>
  <div id="claimDetailTable" class="data-table data-table-detail" [@detailExpand] style="overflow: hidden">
    <mat-table [dataSource]="parseValuesToObjects(element.values)">
      <ng-container matColumnDef="emptyCol">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let claimValue"><span class="mat-body-1"></span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let claimValue"><span class="mat-body-strong">{{ claimValue.key }}</span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let claimValue"><span class="mat-body-1">{{ claimValue.value }}</span></mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="['emptyCol', 'key', 'value']" style="display: none"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['emptyCol', 'key', 'value']" class="element-row"></mat-row>

    </mat-table>
  </div>
</ng-template>

