<mat-toolbar class="mat-elevation-z8" color="primary">
  <img src="assets/logo.png">
  <span>{{ path }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <button mat-button routerLink="/students">
    <mat-icon>account_circle</mat-icon>
    Students
  </button>
  <button mat-button routerLink="/positions">
    <mat-icon>supervisor_account</mat-icon>
    Positions
  </button>
  <button mat-button routerLink="/applications">
    <mat-icon>toc</mat-icon>
    Applications
  </button>
</mat-toolbar>


