<app-progressbar></app-progressbar>

<button id="refresh-claims" mat-mini-fab (click)="positionService.update()">
  <mat-icon>refresh</mat-icon>
</button>

<div class="data-table mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="universityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>University</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.universityName | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="connection-icon icon_success" *ngIf="isOpen(element)">check_circle_outline</mat-icon>
        <mat-icon class="connection-icon icon_failure" *ngIf="!isOpen(element)">highlight_off</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="attributes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Required Info</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list dense>
          <mat-list-item *ngFor="let key of getKeys(element.attributes)">{{ key | titlecase }}: {{ element.attributes[key] }}</mat-list-item>
        </mat-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <button mat-raised-button [disabled]="hasApplied(element)" (click)="accept(element)" color="primary">Apply</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>

  </mat-table>
  <div class="no-data-row mat-caption" *ngIf="this.dataSource.data.length == 0">
    <span>No Positions available</span>
  </div>
</div>

