#refresh-claims {
  position: absolute;
  right: 10px;
  margin-top: 5px;
}

#proof-request-buttons {
  margin-left: auto;
}

.chip-green {
  background: lime;
}

.chip-red {
  background: red;
}

.mat-table .mat-list-item {
  font-size: 14px;
}
