<mat-toolbar>
  <img src="https://media.giphy.com/media/3ornk57KwDXf81rjWM/giphy.gif">
  <span>Dashboard</span>
  <span class="spacer"></span>
  <button mat-raised-button routerLink="/">
    <mat-icon>dashboard</mat-icon>
    Home
  </button>
  <button mat-raised-button routerLink="/claims">
    <mat-icon>receipt</mat-icon>
    Claims
  </button>
  <button mat-raised-button routerLink="/connections">
    <mat-icon>settings_ethernet</mat-icon>
    Connections
  </button>
  <button mat-raised-button routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-raised-button routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
</mat-toolbar>


