<mat-toolbar class="mat-elevation-z8" color="primary">
  <img src="assets/logo.png">
  <span>{{ path }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <button mat-button routerLink="/claims">
    <mat-icon>receipt</mat-icon>
    Claims
  </button>
  <button mat-button routerLink="/connections">
    <mat-icon>settings_ethernet</mat-icon>
    Connections
  </button>
  <!--<button mat-button routerLink="/proof-requests">-->
    <!--<mat-icon>description</mat-icon>-->
    <!--Proof Requests-->
  <!--</button>-->
  <button mat-button routerLink="/positions">
    <mat-icon>description</mat-icon>
    Positions
  </button>
  <button mat-button routerLink="/applications">
    <mat-icon>assessment</mat-icon>
    Applications
  </button>
  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>

</mat-toolbar>


