
<mat-toolbar class="mat-elevation-z8" color="primary">
  <span>{{ path }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <button mat-button routerLink="/claims">
    <mat-icon>receipt</mat-icon>
    Claims
  </button>
  <button mat-button routerLink="/connections">
    <mat-icon>settings_ethernet</mat-icon>
    Connections
  </button>
  <button mat-button routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-button routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-toolbar>


