<div id="claimsTable" class="mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
      <mat-cell *matCellDef="let claim">{{ claim.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issuerDid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issuer DID</mat-header-cell>
      <mat-cell *matCellDef="let claim">{{ claim.issuerDid }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="myDid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>My DID</mat-header-cell>
      <mat-cell *matCellDef="let claim">{{ claim.myDid }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
</div>
