<app-progressbar></app-progressbar>

<button id="add-connection" mat-mini-fab (click)="openDialog()"><mat-icon>add</mat-icon></button>

<div class="data-table mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Connection ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="studentUserName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Student</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.studentUserName | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="universityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>University</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.universityName | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirmed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Identity confirmed</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="icon_success" *ngIf="element.confirmed">check_circle_outline</mat-icon>
        <mat-icon class="icon_failure" *ngIf="!element.confirmed">highlight_off</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [detailRow]="row" [detailRowTpl]="tpl"></mat-row>
  </mat-table>
  <div class="no-data-row mat-caption" *ngIf="this.dataSource.data.length == 0">
    <span>No Connections available</span>
  </div>
</div>

<ng-template #tpl let-element>
  <div class="mat-row" [@detailExpand] *ngIf="hasOpenUserProofs(element)" style="overflow: hidden">
    <div id="proof-request-buttons">
      <button mat-raised-button (click)="proveIdentity(element)" color="primary">Prove Identity</button>
    </div>
  </div>
</ng-template>






