<app-progressbar></app-progressbar>

<button id="add-connection" mat-mini-fab (click)="openDialog()"><mat-icon>add</mat-icon></button>

<div class="data-table mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Connection ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Student</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.userName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="universityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>University</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.universityName | titlecase }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [detailRow]="row" [detailRowTpl]="tpl"></mat-row>
  </mat-table>
</div>

<ng-template #tpl let-element>
  <div class="mat-row" [@detailExpand] style="overflow: hidden">
    <pre>{{ {"did": element.did, "nonce": element.nonce} | json }}</pre>
  </div>
</ng-template>






