<app-progressbar></app-progressbar>

<button id="add-connection" mat-mini-fab (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<div class="data-table mat-elevation-z5">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Connection ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="studentUserName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Student</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.studentUserName | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="universityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>University</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.universityName | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirmed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Identity confirmed</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="connection-icon icon_success" *ngIf="element.confirmed">check_circle_outline</mat-icon>
        <mat-icon class="connection-icon icon_failure" *ngIf="!element.confirmed">highlight_off</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="!element.confirmed">
          <button mat-raised-button class="proof-identity-button" *ngIf="hasOpenUserProofs(element)" (click)="proveIdentity(element)" color="primary">Prove Identity</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [detailRow]="row" [detailRowTpl]="tpl"></mat-row>
  </mat-table>
  <div class="no-data-row mat-caption" *ngIf="this.dataSource.data.length == 0">
    <span>No Connections available</span>
  </div>
</div>

<ng-template #tpl let-element>
  <div *ngIf="hasOpenUserProofs(element)" id="claimDetailTable" class="data-table data-table-detail" [@detailExpand] style="overflow: hidden">
    <mat-table [dataSource]="getUserProofForUniversity(element.universityName)">
      <ng-container matColumnDef="emptyCol">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let claimValue"><span class="mat-body-1"></span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="attributes">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let proofRequest">
          <mat-chip-list>
            <mat-chip *ngFor="let attribute of proofRequest.attributes">{{ attribute }}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['emptyCol', 'emptyCol', 'emptyCol', 'attributes']" style="display: none"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['emptyCol', 'emptyCol', 'emptyCol', 'attributes']" class="element-row"></mat-row>

    </mat-table>
  </div>
</ng-template>





