<h2 mat-dialog-title>Connect to a university</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-select [(value)]="selected" placeholder="University">
      <mat-option *ngFor="let university of data.universities" [value]="university">{{university.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="selected">Connect</button>
</mat-dialog-actions>
